body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E1C699; 
  }
  
  .about-me {
    align-items: center; /* This will vertically center the items in the container */
   margin: 2em; /* Adjust as needed for spacing */
   background-color: #fff; /* Background color for the about me section */
   padding: 2em; /* Padding around the content */
   border: 5px solid #000; /* Add a black border around the section */
 }
 
 .about-image {
   max-width: 200px; /* Adjust as needed */
   margin-right: 2em; /* Space between the image and the text */
   border: 3px solid #000; /* Black border around the image */
 }   display: flex;

 
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: #9A652E; 
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 1em;
  }
  
  .navbar a {
    text-decoration: none;
    color: #FFFFFF; 
  
  background-color: #000000
   
  /* Ken Abraham intro image */

   
  /* Ken Abraham intro image */
 
 
  
  
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 1em;
  }
  
  .project {
    padding: 1em;
  }
  
  .project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Optional, for rounded corners on images */
  }
  
  .footer {
    text-align: center;
    padding: 1em;
    background: #f8f8f8; /* Change to desired footer background color */
  }